// colors
$colors: (
    'primary': #34ACE0,
    'secondary': #4264FB,
    'ternary': #42FBD9,
    'secondaryAlt': #FB42C0,
    'ternaryAlt': #C0FB42,
    'secondaryTrue': #FB7D42,
    'greyVLight': #F2F2F2,
    'greyLight': #EDEDED,
    'grey': #B1B1B1,
    'white': #FAFAFA,
    'blackLight': #545454,
    'black': #212121,
    'pureWhite': #FFFFFF,
    'blue': #84A9F2,
    'purple': #AE69FF,
    'green': #4BB543,
    'yellow': #FEE234,
    'orange': #FFA500,
    'red': #EF5350,
);

@function color($color) {
  @return map-get($colors, $color);
}
@each $value, $color in $colors { // color classes for inline use
  .color-#{$value} {
    color: $color;
  }
  .bg-color-#{$value} {
    background-color: $color;
  }
  .border-color-#{$value} {
    border-color: $color;
  }
}
